html, body {
    float: left;
    position: absolute;
    /* display: flex; */
    flex-direction: column;
    margin: 0px !important;
    padding: 0px !important;
    overflow: hidden;
    touch-action: none;
    background-color: rgb(96, 148, 0);
    width: 100%;
    height: 100%
    /* The image used */
    /* background-image: url("assets/img/some_background.jpg"); */
    /* Center and scale the image nicely */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */